@import "tailwindcss";

@theme {
  --color-brand-50: #ecfdf5;
  --color-brand-100: #d1fae5;
  --color-brand-500: #059669;
  --color-brand-600: #047857;
  --color-brand-700: #065f46;
  --color-accent-400: #fbbf24;
  --color-accent-500: #f59e0b;
}

body {
  @apply bg-slate-50 text-slate-900 antialiased;
}
